$font-main: 'Poppins';

// Colors:

$color-primary: #03a9f4;   //main background
$color-secondary: lighten(#03a9f4, 10%);  //secondary background
$color-accent: #f9e879 ;  // d and hamburger

$font-color-main:  #f9e879;
$font-color-secondary: #ecf0f1; //light grey
