$font-main: 'Poppins';
$family: 'champagne';
// Colors:

// $color-primary: #dde3ed;   //main background
// $color-secondary: lighten(#03a9f4, 10%);  //secondary background
// $color-accent: #f9e879 ;  // d and hamburger
//
$font-color-main:  #191D25; //dark grey
$font-color-secondary: #ecf0f1; //light grey

/* Coolors Exported Palette - coolors.co/d8dbe2-a9bcd0-f76060-373f51-f8e77b */
/* RGB */
$color-primary: rgba(216, 219, 226, .21); //lightgrey
$color-secondary: rgba(169, 188, 208, 1); //lightblue
$color-bright: rgba(247, 96, 96, 1); //hotpink
$color-dark: rgba(55, 63, 81, 1); // darkblue
$color-accent: rgba(248, 231, 123, 1); //yellow
