


main {
  display:flex;
  flex-direction: column;
  width: 100%;
  background-color:$color-primary;
  padding: 1%;
  height: 100%;
  section {
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 95vw;
    padding: 2%;
    margin-top:25px;
    flex-wrap: wrap;
    height: 350px;
    img{
      padding: 2%;
    }
    img:first-of-type{
      @include size (80%);
    }
    img:nth-of-type(2){
      @include size (40%);
      align-self: flex-end;
    }
    img:nth-of-type(3){
      @include size (25%);
      align-self: flex-end;
    }

  }

  h1{
    text-transform: uppercase;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    color: lightblue;
  }
  p{
    text-align: center;
  }
}
