.intro{
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  border: 2px solid white;
  background: white url("../img/background.jpg") no-repeat scroll bottom;
  background-size: cover;
  animation: hideIntro .7s 3.2s;
  animation-fill-mode: forwards;
  &:first-child{
    opacity: .99;
  }
}
@keyframes hideIntro {
  100%{
    height: 40vh;
  }
}

.d {
  @include size(155px);

  margin-top: 250px;
  background-color: coral;
  opacity: 0;
  animation: square-to-circle 2s .7s  cubic-bezier(1,.015,.295,1.225) alternate;
  animation-fill-mode: forwards;
}

@keyframes square-to-circle {
  0%  {
    opacity: .6;
    border-radius:50%;
    background:coral;
    transform:rotate(0deg);
  }
  25%  {
    opacity: .8;
    border-radius:50%;
    background:darksalmon;
    transform:rotate(180deg);
  }
  45%  {
    opacity: 1;
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(135deg);
  }
  70%  {
    opacity: 1;
    border-radius:50% 0 0 0;
    background:#ff7f50;
    transform:rotate(45deg);
  }
  100% {
    margin-left: 0px;
    opacity: .99;
    border-radius:50% 50% 0 0;
    background:$color-accent;
    transform:rotate(90deg) translateX(-200px);


  }


}

.name{
  @include position(relative, 5px null null null );
  font-size: 20px;
  color: $font-color-secondary;
  opacity: 0;
  animation: showName .5s 3s;
  animation-fill-mode: forwards;
  text-shadow: 1px 1px 2px grey;
  font-family: $font-main, sans-serif;
  text-transform: uppercase;

}
@keyframes showName {
  0%{
    margin-top: -100px;
  }
  50%{
    display: none;
    opacity: .3;
  }
  100%{
    margin-top: 110px;
    display: inline-block;
    opacity: 1;
    padding-left: 5px;
    position:static;
  }
}
