.intro{
  height: 100vh;
  animation: hideIntro .6s 4s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  border: 2px solid white;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@keyframes hideIntro {
  100%{
    height: 40vh;
  }
}

.d {
  @include size(140px);
  margin-top: 250px;
  // margin-left: 5px;
  // padding-left: 2%;
  background-color: coral;
  opacity: 0;
  animation: square-to-circle 2s .6s  cubic-bezier(1,.015,.295,1.225) alternate;
  animation-fill-mode: forwards;
}

@keyframes square-to-circle {
  0%  {

    opacity: .6;
    border-radius:50%;
    background:coral;
    transform:rotate(0deg);
  }
  25%  {
    opacity: .8;
    border-radius:50%;
    background:darksalmon;
    transform:rotate(180deg);
  }
  50%  {
    opacity: 1;
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(135deg);
  }
  70%  {
    opacity: 1;
    border-radius:50% 0 0 0;
    background:#ff7f50;
    transform:rotate(45deg);
  }
  100% {
    opacity: 1;
    border-radius:50% 50% 0 0;
    background:#f9e879;
    transform:rotate(90deg) translateX(-200px);
  }


}

.name{
  font-size: 20px;
  color: #ecf0f1;
  opacity: 0;
  margin-top: 110px;
  padding-top: 5px;
  padding-left: 70px;
  animation: showName .5s 3s;
  animation-fill-mode: forwards;
  position: relative;
  text-shadow: 1px 1px 2px grey;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;

}
@keyframes showName {
  50%{
    opacity: .3;
  }
  100%{
    opacity: 1;
    padding-left: 5px;
    // z-index: -1;
  }
}
