.block1 {
  height: 0px;
  line-height: 5em;
  width: 100%;
  background-color: $color-primary;
  color: white;
  text-align: center;
  opacity: 0;
}


.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

}

/* show objects being animated */
.animated {
  visibility: visible;
  animation: fadeInUp 1.5s 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


@keyframes fadeInUp {
	0% {

		opacity: 0;
		transform: translateY(300px);
	}
	100% {
    height: 220px;
		opacity: 1;
		transform: translateY(0);

	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
